:root {
  /*colors*/
  --belyy: #fff;
  --goluboy-dlya-obvodok: #b1cef8;
  --chernyy: #000;
  --siniy-osnovnoy: #296fe5;
  --temno-seryy: #666;
  --zelenyy: #bef4d1;
  --temno-zelenyy: #285237;
  --zheltyy: #fbecbb;
  --temno-zheltyy: #4d421e;
  --krasnyy: #ff9f8e;
  --temno-krasnyy: #3a1812;
  --goluboy-dlya-fona: #8db5f3;
  --siniy-dlya-fona: #6a9bed;

  /*font-sizes*/
  --font-h1: 36px;
  --font-h2: 32px;
  --font-text-big: 25px;
  --font-text-main: 20px;
  --font-text-small: 15px;
}
