.mainContainer {
  padding: 30px 25px;
  background-color: var(--siniy-dlya-fona);
  border: 2px solid var(--goluboy-dlya-obvodok);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  border-radius: 25px;
}
