.infoBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 30px;
}

.title {
  margin-bottom: 45px;
}

.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info {
  width: 100%;
  padding: 5px 10px;

  border-bottom: 2px solid var(--light-blue);
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  align-items: center;
  gap: 12px;
}

.label {
  font-weight: 500;
  font-size: var(--font-text-main);
  color: var(--dark-gray);
  min-width: 250px;
}

.value {
  font-weight: 600;
  font-size: var(--font-text-main);
}

.parentsTitle {
  margin-bottom: 15px;
}

.parentsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
