.tag {
  padding: 3px 15px;
  max-width: fit-content;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
}

.success {
  background-color: var(--light-green);
  color: var(--dark-green);
}

.warning {
  background-color: var(--yellow);
  color: var(--dark-yellow);
}

.error {
  background-color: var(--red);
  color: var(--crimson);
}

.info {
  background-color: var(--background-blue);
  color: var(--white);
}
