.button {
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;
}

.default {
  background-color: var(--siniy-osnovnoy);
  color: var(--belyy);
}

.default:hover {
  background-color: var(--siniy-osnovnoy);
}

.ghost {
  background-color: var(--belyy);
  color: var(--siniy-osnovnoy);
}

.l {
  font-size: var(--font-text-big);
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  border-radius: 10px;
}

.s {
  padding: 8px 15px;
  border-radius: 5px;
}
