.card {
  width: 100%;
  border-radius: 25px;
  border: 2px solid var(--goluboy-dlya-obvodok);
  background-color: var(--belyy);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px;
}
