.certificate {
  width: 100%;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--goluboy-dlya-obvodok);
  margin-bottom: 10px;
}

.status {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name {
  font-size: var(--font-text-main);
  font-weight: 600;
  color: var(--chernyy);
}

.date {
  font-weight: 700;
  font-size: 16px;
  color: var(--temno-seryy);
}
